.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
body{
  overflow-y: auto;
}
footer{
  position: fixed;
  bottom:0;
  width:100%;
  padding:6px;
  height:15px;
  font-size:14px;
  text-align:center;
  background:#fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headerTop{
  width:100%;
  box-shadow: 1px 1px 1px rgba(172, 172, 172, 0.753);
  font-size:20px;
  box-sizing: border-box;
  line-height: 120%;
}
.menu{
  height:40px;
  vertical-align: middle;
  margin-right:10px;
  padding:3px;
  background: #72be8f;
  cursor:pointer;
}
#doc-content{
  padding:16px 46px;
}
#doc-content img{
  display: block;
  margin: 0 auto;
}
#doc-content code{
  background-color:#ccc;
  font-size:16px;
}

#try-it{
  text-decoration-line: none;
  text-align: center;
  width: 50px;
  height:50px;
  display: inline-block;
  border-radius: 50%;
  overflow:hidden;
  background: #4679BD;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transform:translate(-50%,-50%);
  box-sizing: border-box;
  box-shadow: 0 0 4px rgb(82, 81, 81);
  transition: 0.3s;
  border:0px solid #cfdcec93;
  font-size: 25px;
    line-height: 200%;
    color:#fff;
}

#try-it:hover{
  font-size: 25px;
  line-height: 130%;
  background:#30588e;
  border:8px solid #cfdcec;
}
